table,
tr,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    font-weight: normal;
    align-content: center;
    text-align: center;
}

th {
    background-color: rgb(50, 50, 50);
    color: white;
    font-weight: bold;
    min-width: 50px;
}

tr:hover {
    background-color: rgba(72, 188, 241, 0.2);
}